html,
body {
  height: 95vh;
}

/* Editable section */
.editable {
  height: 90vh;
  padding-top: 5em;
  width: 55vw;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 25%;
  margin-left: -50px;
}

p {
  font-weight: 100;
  padding-top: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 70vw;
  margin: 0 auto;
}

/* Theme */
.dark-mode {
  background-color: #35363a;
  color: white;
  font-family: "Helvetica", sans-serif;
}

.light-mode {
  background-color: white;
  color: black;
  font-family: "Helvetica", sans-serif;
}

.hotdog-mode {
  background-color: #ff0000;
  color: #fffa00;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Settings */
label {
  font-weight: 100;
  font-size: 15px;
  padding-top: 10px;
  display: block;
}

.menu-invisible {
  padding-top: 5px;
  display: none;
}

/* Animating the hamburger settings icon */
.settings {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5.5px);
  transform: rotate(-45deg) translate(-6px, 5.5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5.5px, -6px);
  transform: rotate(45deg) translate(-5.5px, -6px);
}
